.delivery {
    padding: 0 0 120px;

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.1;
        color: var(--color-black);
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 46px;
        margin-top: 34px;
    }
}


.delivery-sidebar {
    max-width: 402px;
    width: 100%;
    flex-shrink: 0;

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__link {
        padding: 30px;
        border: none;
        border-bottom: 1px solid var(--color-grey-150);

        background: transparent;

        text-align: left;

        font-weight: 500;
        font-size: 24px;
        line-height: 1;

        color: var(--color-grey-100);

        cursor: pointer;
        transition: .2s ease;

        &:first-child {
            border-top: 1px solid var(--color-grey-150);
        }

        &:hover {
            background: rgba(0, 0, 0, 0.02);
        }

        &.active {
            background: var(--color-black);
            color: var(--color-white);
            cursor: default;
        }
    }
}

/* CONTENT */

.delivery-content {
    display: flex;
    flex-direction: column;
    max-width: 930px;
    width: 100%;
    gap: 30px;
    flex: 1;
}

/* CARD */

.delivery-card {
    padding: 29px 34px 38px 38px;

    border: 1px solid var(--color-grey-150);
    border-radius: 5px;

    background: var(--color-white);

    &__top {
        display: flex;
        align-items: center;
        gap: 15px;

        margin-bottom: 15px;
    }

    &__panel {
        display: none;
        opacity: 0;
        transform: translateY(10px);

        &.active {
            display: flex;
            flex-direction: column;
            gap: 30px;
            animation: tabFade .3s ease forwards;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;

        flex-shrink: 0;

        img {
            max-width: 100%;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        color: #010101;

        color: var(--color-black);
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;

        color: var(--color-black);
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-black);
    }


    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-black);
    }

    &__radio {
        display: flex;
        flex-direction: column;

        gap: 20px;
    }

    &__radio-item {
        display: flex;
        align-items: center;

        gap: 14px;

        cursor: pointer;

        input {
            display: none;
        }
    }

    &__radio-box {
        position: relative;

        width: 24px;
        height: 24px;

        border: 2px solid #d9d9d9;

        background: var(--color-white);

        flex-shrink: 0;

        transition: .2s ease;

        &::after {
            content: "";

            position: absolute;

            top: 50%;
            left: 50%;

            width: 16px;
            height: 16px;

            transform: translate(-50%, -50%) scale(0);

            transition: .2s ease;

            background:
                url("../assets/tick.svg") no-repeat center / contain;
        }
    }

    &__radio-item input:checked+&__radio-box {
        border-color: var(--color-red);
    }

    &__radio-item input:checked+&__radio-box::after {
        transform: translate(-50%, -50%) scale(1);
    }

    &__radio-text {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 400;
        color: var(--color-black);
    }

}

/* ========== 1200 ========== */

@media (max-width: 1200px) {

    .delivery {

        &__inner {
            gap: 30px;
        }
    }

    .delivery-sidebar {
        max-width: 320px;

        &__link {
            padding: 24px;
            font-size: 20px;
        }
    }

    .delivery-card {

        &__title {
            font-size: 26px;
        }

        &__subtitle {
            font-size: 21px;
        }
    }
}

/* ========== 992 ========== */

@media (max-width: 992px) {

    .delivery {

        &__inner {
            flex-direction: column;
        }
    }

    .delivery-sidebar {
        max-width: 100%;
    }

    .delivery-content {
        width: 100%;
    }
}

/* ========== 768 ========== */

@media (max-width: 768px) {

    .delivery {
        padding-bottom: 80px;

        &__title {
            margin: 24px 0;
            font-size: 30px;
        }
    }

    .delivery-sidebar {

        &__link {
            padding: 20px;
            font-size: 18px;
        }
    }

    .delivery-card {
        padding: 24px 20px;

        &__top {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 22px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__text,
        &__item {
            font-size: 14px;
            line-height: 1.6;
        }
    }
}

/* ========== 576 ========== */

@media (max-width: 576px) {

    .delivery {

        &__title {
            font-size: 26px;
        }
    }

    .delivery-sidebar {

        &__link {
            padding: 18px 16px;
            font-size: 16px;
        }
    }

    .delivery-card {
        padding: 20px 16px;

        &__top {
            gap: 10px;
        }

        &__title {
            font-size: 20px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__body {
            gap: 20px;
        }
    }
}